<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xipin.est.db.dao.IUserDataAuthDao" >
  <resultMap id="BaseResultMap" type="com.xipin.est.db.po.UserDataAuthPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="dataAuthId" property="dataAuthId" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="BIGINT" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, username, dataAuthId, creater, createDate
  </sql>
  <sql id="condition" >
    <if test="null!=params" />
  </sql>
  <select id="getByKey" resultMap="BaseResultMap" parameterType="java.lang.Long" flushCache="false" useCache="true" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM user_data_auth
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryListByBiz" resultMap="BaseResultMap" parameterType="map" flushCache="false" useCache="true" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM user_data_auth WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByKey" parameterType="java.lang.Long" flushCache="true" >
    DELETE FROM user_data_auth
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByUserId" parameterType="java.lang.Long" flushCache="true" >
    DELETE FROM user_data_auth
    WHERE userId = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xipin.est.db.bean.UserDataAuthBean" flushCache="true" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO user_data_auth (id, userId, username, 
      dataAuthId, creater, createDate
      )
    VALUES (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{dataAuthId,jdbcType=BIGINT}, #{creater,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSel" parameterType="com.xipin.est.db.bean.UserDataAuthBean" flushCache="true" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO user_data_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="dataAuthId != null" >
        dataAuthId,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="dataAuthId != null" >
        #{dataAuthId,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPKSel" parameterType="com.xipin.est.db.bean.UserDataAuthBean" flushCache="true" >
    UPDATE user_data_auth
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="dataAuthId != null" >
        dataAuthId = #{dataAuthId,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.xipin.est.db.bean.UserDataAuthBean" flushCache="true" >
    UPDATE user_data_auth
    SET userId = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      dataAuthId = #{dataAuthId,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>