<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
                        http://www.springframework.org/schema/context   
                        http://www.springframework.org/schema/context/spring-context-4.1.xsd  
                        http://www.springframework.org/schema/tx   
                        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                        http://www.springframework.org/schema/aop   
                        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
                        ">
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.xipin.est.utils" />
    <bean id="msgConfigEnUS" class="com.xipin.est.utils.msg.MsgConfigEnUS">
		<property name="messageEn" ref="messageEn"/>
	</bean>
 	
	<bean id="messageEn" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8"/>
		<property name="locations">
			<list>
				<value>classpath:/msg/message_en_US.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="msgConfigZhCN" class="com.xipin.est.utils.msg.MsgConfigZhCN">
		<property name="messageZh" ref="messageZh"/>
	</bean>
 	
	<bean id="messageZh" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8"/>
		<property name="locations">
			<list>
				<value>classpath:/msg/message_zh_CN.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- <bean id="sysconfig" class="com.xipin.est.utils.config.SysConfig">
		<property name="sysConfig" ref="sysConfig"/>
	</bean> -->
 	
	<!-- <bean id="sysConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="fileEncoding" value="UTF-8"/>
		<property name="locations">
			<list>
				<value>classpath:/config/sysconfig.properties</value>
				<value>file:/opt/xipinconf/est/conf/sysconfig.properties</value>
			</list>
		</property>
	</bean> -->
	<!-- email 发送 -->
</beans>